<div class="row">

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">


<div class="radius">

<%= form_for(@post, html:{role:"form"}) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo,class:"form-control" %>

    <%= f.label :fecha %><br>
    <%= f.date_select :fecha,class:"form-control" %>

    <%= f.label :estado %><br>
    <%= f.check_box :estado %>

    <%= f.label :texto %><br>
    <%= f.text_area :texto,placeholder:"contenido",class:"form-control" %>

    <%= f.label :autor_id %><br>
    <%= collection_select(:post, :autor_id, Autor.all, :id, :nombre, {:prompt => 'seleccione autor'},class:"form-control") %>
</div>

    <%= f.submit "enviar", class:"btn btn-success" %>

<% end %>
</div>
</div>
</div>
