<h1>Lista de Post</h1>

<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th>Texto</th>
      <th>Autor</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.titulo %></td>
        <td><%= post.fecha %></td>
        <td><%= post.estado %></td>
        <td><%= post.texto %></td>
        <td><%= post.autor.nombre %></td>
        <td class="acciones"><%= link_to 'Mostrar', post, class:"btn btn btn-info glyphicon glyphicon-pencil",type:'button' %></td>
        <td class="acciones"><%= link_to 'Editar', edit_post_path(post), class:"btn btn btn-success glyphicon glyphicon-search",type:'button'%></td>
        <td class="acciones"><%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger glyphicon glyphicon-trash",type:'button'%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

  <%= link_to 'Nuevo Post', new_post_path , class:'btn btn-primary', type:'button'%>


